@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

:root {
  --body-color: #ecf0f9;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-linght: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-04);
}
